/* DESKTOP CSS */
@font-face 
{
	font-family: cabin-regular;
	src: url("../font/Cabin-Regular.otf");
}
@font-face 
{
	font-family: cabin-medium;
	src: url("../font/Cabin-Medium.otf");
}
@font-face 
{
	font-family: cabin-semibold;
	src: url("../font/Cabin-SemiBold.otf");
}
header, footer, main, article, nav
{
    display:block;
}

body
{
    font-family: cabin-regular;
    font-size: 62.5%;
    background-color: #F5FFFF;
}
h1          {font-size:4em;}
h2          {font-size:3em;}
nav         {font-size:2.25em;}
p           {font-size:1.75em;}
label       {font-size:1.5em;}
#container
{
    width: 60%;
    max-width:1200px;
    
    margin: 0 auto;
    overflow:auto;
}
#top
{
    background-color: #E2EEEE;
    display: block;
}
header
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
}
main
{
    width:60%;
    float: left;
    
}
.navRound
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.navRound2
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
nav a
{
    text-decoration: none;
}
nav
{
    
    
    width:35%;
    float:right;
    margin-top: 10px;
    
}
nav ul
{
    padding:0;
    margin:0;
    width: 100%;
    list-style-type: none;
}
nav li
{
    
    display:block;
    width: 100%;
    text-align:center;
    list-style-type: none;
    background-color: #D1DDDD;
}
nav li a
{
    display: block;
    padding-top:35px;
    padding-bottom:35px;
    text-decoration: none;
    color: #8188FF;
    font-family: "verdana";
    
}
nav li a:active
{
    background-color: #C1CCDD;
}
nav li:hover
{
    background-color: #B1BBCC;
}
#titleSearch
{
    background-color: #D1DDDD;
    width: 100%;
    padding:15px;
    margin-top: 10px;
    border-radius: 25px;
}
img
{
    width: 100%;
    
}
figure
{
    margin:0;
}
article
{
    float: left;
    background-color: #D1DDDD;
    width: 100%;
    padding:15px;
    margin-top: 10px;
    border-radius: 25px;
    
}
article footer
{
    text-align:center;
    font-size:1.5em;
}
article time
{
    font-size:1.5em;
}
article a
{
    text-decoration: none;
    color: black;
}
article a:hover
{
    text-decoration: underline;
}
summary
{
    display: inline-block;
}
/* DÖLJ MOBIL MENY */
#menuMob
{
    display: none;
}
