body
{
    background-color: #FFFFFF;
}
nav
{
    display: none;
}
#menuMob
{
    display: none;
}
img
{
    display: none;
}
#titleSearch
{
    display: none;
}
#top
{
    text-align: center;
}
a:link {color: #00688B;}
a:visited {color: #00688B;}
a:hover {color: #00688B;} 
a:active {color: #00688B;}